@media (max-width: 400px) {
	.content-box-main {
		margin-top: 1em !important;
	}
}

.title-only > h1,
.title-only > h2 {
	margin-bottom: 0;
}

.text-container-with-line-decorator {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.text-container-with-line-decorator > .text {
	flex: 3;
}

.text-container-with-line-decorator > .decorator {
	flex: 1;
	margin-top: 80px;
	margin-right: 10%;
	border-top: 3px #1a2b6d solid;
}

.text-container-with-line-decorator-reversed {
	flex-direction: row-reverse;
}

.text-container-with-line-decorator-reversed > .decorator {
	margin-left: 10%;
	margin-right: 0;
}

@media (max-width: 1000px) {
	.content-box-main h1,
	.content-box-main h2 {
		margin-bottom: 0.4em;
	}
}

@media (max-width: 800px) {
	.text-container-with-line-decorator > .decorator {
		display: none;
	}
}

@media (max-width: 700px) {
	.content-box-main h1,
	.content-box-main h2 {
		margin-bottom: 0.1em;
	}
}
