.contact-form {
	padding: 1em 2em 3em;
	text-align: right;
	color: white;
}

.contact-form > h2 {
	color: white !important;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.contact-form > label {
	display: block;
	width: 100%;
	margin-bottom: 2em;
}

.contact-form > label:last-of-type {
	margin-bottom: 0;
}

.contact-form > label > input,
.contact-form > label > textarea {
	width: 75%;
	min-width: 16em;
	max-width: 85% !important;
	margin-left: 1em;
	font-size: 16px;
	color: black !important;
}

.contact-form > label:first-of-type > input,
.contact-form > label:nth-of-type(2) > input {
	width: 50%;
}

.contact-form > label > textarea {
	height: 12em;
}

@media (max-width: 600px) {
	.contact-form > label > input,
	.contact-form > label > textarea {
		min-width: 95%;
		max-width: initial;
		width: initial;
	}
}

@media (max-width: 450px) {
	.contact-form {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	.contact-form > label > input,
	.contact-form > label > textarea {
		margin-left: 0.2em;
		min-width: 100%;
	}
}

@media (max-width: 400px) {
	.contact-form > label > input,
	.contact-form > label > textarea {
		font-size: 14px;
	}
}

.mailto {
	text-align: left;
	margin-top: 1.5em;
}

.mailto > a,
.mailto > a:visited {
	color: white;
	text-decoration: underline;
}

.mailto > a:hover {
	text-decoration: none;
	color: lightgray;
}
