.services {
	margin-top: 0em;
	overflow: hidden;
}

.services > .top_info {
	padding-left: 15%;
	padding-right: 15%;
	background-color: #1a2b6d;
	color: white;
}

.services > .top_info > h1,
.services > .top_info > h2 {
	text-align: left;
	font-size: 55px;
	color: white;
	margin: 0;
	padding: 0;
	padding-top: 0.8em;
}

@media (max-width: 600px) {
	.services > .top_info > h1,
	.services > .top_info > h2 {
		font-size: 40px;
		text-align: center;
	}
}

@media (max-width: 400px) {
	.services > .top_info > h1,
	.services > .top_info > h2 {
		font-size: 30px;
	}
}

.services > .top_info > p {
	max-width: 500px;
	font-weight: 400;
	margin-top: 0;
	padding-bottom: 16em;
}

.services > .services-overview {
	margin-top: -15em;
	margin-left: 10%;
	font-size: 16px;
}

@media (max-width: 750px) {
	.services > .services-overview {
		margin-left: 5%;
	}
}
@media (max-width: 600px) {
	.services > .services-overview {
		margin-left: 1em;
		width: 100%;
	}
}
