.text-container-with-line-decorator {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.text-container-with-line-decorator > .text {
	flex: 3;
}

.text-container-with-line-decorator > .decorator {
	flex: 1;
	margin-top: 80px;
	margin-right: 10%;
	border-top: 3px #1a2b6d solid;
}

@media (max-width: 800px) {
	.text-container-with-line-decorator > .decorator {
		display: none;
	}
}
