.services {
	margin-top: 0em;
}

.services > .top_info {
	padding-left: 15%;
	padding-right: 15%;
	background-color: #1a2b6d;
	color: white;
}

.services > .top_info > h1,
.services > .top_info > h2 {
	color: white;
	margin: 0;
	padding: 0;
}

.services > .top_info > h1 {
	font-size: 40px;
	padding-top: 0.2em;
}

.services > .top_info > h2 {
	font-size: 55px;
	padding-top: 0.7em;
}

@media (max-width: 600px) {
	.services h2 {
		font-size: 40px;
		text-align: center;
	}
}

@media (max-width: 400px) {
	.services h1 {
		font-size: 30px;
	}
	.services h1 {
		font-size: 30px;
	}
}

.services > .top_info > p {
	max-width: 500px;
	font-weight: 400;
	margin-top: 0;
	padding-bottom: 10em;
}

.services > .top_info + div {
	margin-top: -10em;
}
