.footer {
	background-image: linear-gradient(170deg, #1a2b6d, #1c2936);
	font-size: 16px;
}
.footer,
.footer h1,
.footer h2,
.footer h3,
.footer a,
.footer a:visited {
	color: white;
}

.footer a {
	text-decoration: none;
}

.footer h3 {
	font-size: 30px;
	text-align: center;
}

.footer h3 > a:hover {
	color: lightgray;
}

.footer > section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer > section > * {
	flex: 1;
	text-align: center;
	min-width: 200px;
}

.footer dl {
	width: 100%;
	padding: 0.3em;
	margin: 0;
}

.footer dl > dt {
	float: left;
	width: 30%;
	padding: 0;
	margin: 0.2em 5% 0.2em 0;
	text-align: right;
}

.footer dl > dd {
	float: left;
	width: 65%;
	padding: 0;
	margin: 0.2em 0;
	text-align: left;
}

.footer dl > dt::after {
	content: " :";
}

.footer dl > dt.logo {
	margin-top: 10px;
}

.footer dl > dt.logo::after {
	content: "";
}

.footer dl > dt.logo a:hover img {
	filter: sepia(100%) hue-rotate(190deg) saturate(200%);
}

.footer dl > dd > ul {
	padding: 0;
	margin: 0;
}

.footer dl > dd > ul > li {
	margin: 0;
	padding: 0;
	margin-bottom: 0.3em;
}

.footer dl > dd > ul > li:last-child {
	margin-bottom: 0;
}

.social ul > li {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.social ul a {
	display: flex;
	align-items: center;
}

.social ul a:hover img {
	transform: rotate(360deg);
	transition: transform 1s;
	transition-delay: 500ms;
}

.bottom-links {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 1200px) {
	.footer dl > dt {
		width: 33%;
		margin-right: 2%;
	}
	.footer dl > dt::after {
		content: ":";
	}
}

@media (max-width: 1000px) {
	.footer > section > * {
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
	.footer dl {
		width: 90%;
		margin-left: 10%;
	}
	.footer dl > dt {
		float: none;
		text-align: left;
		color: lightblue;
		width: 100%;
	}
	.footer dl > dt > a {
		color: lightblue !important;
	}
	.footer dl > dd {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
}

@media (max-width: 450px) {
	.footer {
		font-size: 14px;
	}
	.footer h3 {
		font-size: 24px;
	}
}

@media (max-width: 400px) {
	.footer dl {
		width: 95%;
		margin-left: 5%;
	}
}

.footer .copyright {
	display: block;
	margin-top: 2em;
	text-align: center;
}
