html,
body {
	padding: 0;
	margin: 0;
	font-family: Quicksand, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Spinnaker, Arial, Helvetica, sans-serif;
	color: #1a2b6d;
}

h1,
h2,
h3 {
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

.clickable {
	cursor: pointer;
}

button {
	box-shadow: 2px 3px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 0.6em;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: black;
	padding: 0.3em 0.7em;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}
button:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}
button:active {
	position: relative;
	top: 1px;
	color: #3a8a9e;
}

button:disabled {
	color: grey;
	background: linear-gradient(to bottom, #ddd 5%, #bbb 100%);
	box-shadow: 0 0 0 0;
	cursor: default;
	position: relative;
	top: 1px;
}

h1 {
	text-align: center;
}

details > summary > * {
	display: inline;
}

header {
	background-color: #1c2936;
	padding-left: 5%;
	display: flex;
	justify-items: flex-start;
}

header > .logo-container {
	flex: 1;
	min-width: 45%;
	cursor: pointer;
}

@media (max-width: 1200px) {
	header > .logo-container {
		min-width: 50%;
	}
}

@media (max-width: 1100px) {
	header > .logo-container {
		min-width: 55%;
	}
}

header > nav {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	justify-items: center;
	align-items: center;
	color: white;
	font-size: 16px;
	flex-wrap: wrap;
}

header > nav > * {
	margin-left: 1.5%;
	margin-right: 1.5%;
}

@media (max-width: 1200px) {
	header > nav {
		font-size: 14px;
	}
}

@media (max-width: 900px) {
	header {
		flex-direction: column;
		align-items: center;
	}
	header > nav {
		justify-content: space-around;
		width: 100%;
	}

	header > nav > * {
		line-height: 2em;
	}
}

header > nav a,
header > nav a:visited {
	color: white;
	text-decoration: none;
}

header > nav a.urgent {
	color: red;
}

header > nav a:hover {
	color: orange;
	transition: color 200ms;
}

header > nav a:active {
	color: darkorange;
	margin-bottom: -2px;
	transition: all 100ms;
}

main a,
a:visited {
	color: #0e4c92;
}

main a:hover {
	color: #1a2b6d;
	background-color: lightgray;
	transition: all 300ms;
}

main a:active {
	color: orange;
	background-color: transparent;
}

main > section {
	margin-top: 2em;
	margin-bottom: 2em;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

@media (max-width: 400px) {
	main > section {
		background-image: none !important;
	}
}

main > section:first-child {
	margin-top: 0;
}

main > hr {
	border-top: 4px #1a2b6d solid;
}

.text-over-image {
	color: white;
}

.text-over-image > h2 {
	text-align: center;
	font-size: 68px;
	color: white;
	font-weight: bold;
}

.text-over-image > p {
	font-size: 23px;
	font-weight: bold;
	width: 50%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media (max-width: 800px) {
	.text-over-image > p {
		width: 80%;
	}
}

@media (max-width: 400px) {
	.text-over-image {
		color: black;
	}

	.text-over-image > h2 {
		color: #1a2b6d;
	}

	.text-over-image > p {
		width: 95%;
		font-weight: 400;
	}
}

.content-box {
	background-color: #f2f2f2;
	color: black;
	padding: 1em 3em;
	line-height: 1.8em;
}

.content-box > h1,
.content-box > h2,
.content-box > h3 {
	color: #1a2b6d;
	margin-top: 0;
	line-height: 1.2em;
}

.content-box > h2 {
	font-size: 46px;
}

@media (max-width: 1000px) {
	.content-box > h2 {
		font-size: 38px;
	}
}

@media (max-width: 600px) {
	.content-box > h2 {
		font-size: 32px;
	}
}

@media (max-width: 400px) {
	.content-box > h2 {
		font-size: 24px;
	}
}

.content-box-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 970px;
	overflow: hidden;
}

.content-box-group > * {
	width: 280px;
	height: 400px;
	padding: 2em;
	margin: 1em;
}

@media (max-width: 750px) {
	.content-box-group > * {
		width: 250px;
		padding-left: 1em;
	}
	.content-box-group > div > div.content-box {
		margin: 0.5em !important;
		padding: 1em !important;
	}
}

@media (max-width: 600px) {
	.content-box-group > * {
		padding-left: 0.5em;
	}
	.content-box-group > div > div.content-box {
		margin: 0.3em !important;
		padding: 0.5em !important;
	}
}

@media (max-width: 300px) {
	.content-box-group > * {
		padding: 0;
		margin: 0;
	}
	.content-box-group > div > div.content-box {
		margin: 0em !important;
		padding: 0.3em !important;
	}
}

.standard-text {
	margin-left: 15%;
	margin-right: 30%;
}

@media (max-width: 1200px) {
	.standard-text {
		margin-left: 10%;
		margin-right: 20%;
	}
}

@media (max-width: 700px) {
	.standard-text {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 500px) {
	.standard-text {
		margin-left: 5%;
		margin-right: 5%;
	}
}

.standard-text > h1,
.standard-text > h2,
.standard-text > h3 {
	color: #1a2b6d;
}

.standard-text p,
.standard-text ol,
.standard-text ul,
.standard-text dl {
	line-height: 1.5em;
}

.invisible {
	visibility: hidden;
}

.validation-warning {
	color: red;
	font-size: 85%;
}

.popup-overlay {
	z-index: 5000;
	position: fixed;
	left: 0;
	right: 0;
	top: 2em;
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 10px double cyan;
	border-radius: 1em;
	background-color: #333;
	color: white;
}

.popup-overlay-enter {
	opacity: 0;
	top: -400px;
}

.popup-overlay-enter-active {
	opacity: 1;
	top: 2em;
	transition: all 500ms;
}

.popup-overlay-exit {
	opacity: 1;
	top: 2em;
}

.popup-overlay-exit-active {
	opacity: 0;
	top: -400px;
	transition: all 500ms;
}

.popup-overlay > .close-button {
	float: left;
}

.popup-overlay > .close-button > button {
	color: red;
}

footer {
	background-image: linear-gradient(170deg, #1a2b6d, #6699cc);
}
footer,
footer h1,
footer h2,
footer h3,
footer a,
footer a:visited {
	color: white;
}

footer a {
	text-decoration: none;
}

footer h3 {
	font-size: 30px;
	text-align: center;
}

@media (max-width: 450px) {
	footer {
		font-size: 14px;
	}
	footer h3 {
		font-size: 24px;
	}
}

footer h3 > a:hover {
	color: lightgray;
}

footer > section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer > section > * {
	flex: 1;
	text-align: center;
	min-width: 200px;
}

footer dl {
	width: 100%;
	padding: 0.3em;
	margin: 0;
}

footer dl > dt {
	float: left;
	width: 30%;
	padding: 0;
	margin: 0.2em 5% 0.2em 0;
	text-align: right;
}

footer dl > dd {
	float: left;
	width: 65%;
	padding: 0;
	margin: 0.2em 0;
	text-align: left;
}

footer dl > dt::after {
	content: " :";
}

@media (max-width: 1200px) {
	footer dl > dt {
		width: 33%;
		margin-right: 2%;
	}
	footer dl > dt::after {
		content: ":";
	}
}

@media (max-width: 1000px) {
	footer > section > * {
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
	footer dl > dt {
		float: none;
		text-align: left;
		color: lightblue;
		width: 100%;
	}
	footer dl > dt > a {
		color: lightblue !important;
	}
	footer dl > dd {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
}

footer dl > dd > ul {
	padding: 0;
	margin: 0;
}

footer dl > dd > ul > li {
	margin: 0;
	padding: 0;
	margin-bottom: 0.3em;
}

footer dl > dd > ul > li:last-child {
	margin-bottom: 0;
}
