html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

h1 {
	text-align: center;
}

details > summary > * {
	display: inline;
}

header {
	text-align: center;
}

main {
	margin-top: 2em;
	margin-bottom: 2em;
}

footer {
	text-align: center;
}

header a,
footer a {
	text-decoration: none;
}
