html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

button {
	box-shadow: 2px 3px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 0.6em;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: Arial;
	padding: 0.3em 0.7em;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}
button:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}
button:active {
	position: relative;
	top: 1px;
	color: #3a8a9e;
}

h1 {
	text-align: center;
}

details > summary > * {
	display: inline;
}

header {
	text-align: center;
}

main {
	margin-top: 2em;
	margin-bottom: 2em;
}

footer {
	text-align: center;
}

header > nav,
footer > nav {
	display: flex;
	justify-content: space-evenly;
}

header a,
footer a {
	text-decoration: none;
}

.invisible {
	visibility: hidden;
}

.validation-warning {
	color: red;
	font-size: 85%;
}

.popup-overlay {
	z-index: 5000;
	position: fixed;
	left: 0;
	right: 0;
	top: 2em;
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 10px double cyan;
	border-radius: 1em;
	background-color: #333;
	color: white;
}

.popup-overlay-enter {
	opacity: 0;
	top: -400px;
}

.popup-overlay-enter-active {
	opacity: 1;
	top: 2em;
	transition: all 500ms;
}

.popup-overlay-exit {
	opacity: 1;
	top: 2em;
}

.popup-overlay-exit-active {
	opacity: 0;
	top: -400px;
	transition: all 500ms;
}

.popup-overlay > .close-button {
	float: left;
}

.popup-overlay > .close-button > button {
	color: red;
}
