.home-page-intro > div:first-child {
	margin-top: 6em;
	margin-left: auto;
	margin-right: 10%;
	width: 30%;
	min-width: 600px;
}

@media (max-width: 1000px) {
	.home-page-intro > div:first-child {
		margin-top: 4em;
	}

	.home-page-intro > div:first-child {
		margin-right: 5%;
		min-width: 500px;
	}
}

@media (max-width: 600px) {
	.home-page-intro > div:first-child {
		margin-top: 3em;
	}

	.home-page-intro > div:first-child {
		min-width: 350px;
	}
}

@media (max-width: 400px) {
	.home-page-intro > div:first-child {
		margin-top: 1em;
		line-height: 1.3em;
	}

	.home-page-intro > div:first-child {
		min-width: initial;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}

.home-page-about-us {
	margin-bottom: 0em;
	min-height: 600px;
	color: white;
}

.home-page-about-us > h2 {
	color: white;
}

.home-page-about-us > p {
	margin-top: 10em;
}

@media (max-width: 400px) {
	.home-page-about-us {
		min-height: initial;
		color: black;
	}
	.home-page-about-us > h2 {
		margin-top: 0.3em;
		margin-bottom: 0.2em;
		font-size: 40px;
		color: #1a2b6d;
	}
	.home-page-about-us > p {
		margin-top: 1em;
	}
}

.home-page-find-out-more {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-page-find-out-more > div:first-child {
	max-width: 800px;
}

.home-page-find-out-more > nav:nth-child(2) {
	margin-right: 40%;
}
@media (max-width: 1000px) {
	.home-page-find-out-more > nav:nth-child(2) {
		margin-right: 0;
	}
}

@media (max-width: 400px) {
	.home-page-find-out-more > nav:nth-child(2) {
		margin-left: 30%;
	}
}
