.title-container {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-container > * {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	left: 0;
	right: 0;
	min-width: 300px;
}

.title-container > div:first-child {
	z-index: 3;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container > div:nth-child(2) {
	left: 20px;
	z-index: 2;
	border: 3px #ececec solid;
}

.title-container > div > h1 {
	font-size: 60px;
	margin: 0.4em;
	padding: 0;
}

@media (max-width: 1200px) {
	.title-container > div > h1 {
		font-size: 50px;
	}
}

@media (max-width: 1000px) {
	.title-container > div > h1 {
		font-size: 38px;
	}
}

@media (max-width: 800px) {
	.title-container > div > h1 {
		font-size: 34px;
	}
}

@media (max-width: 650px) {
	.title-container {
		height: 200px !important;
	}
	.title-container > div {
		top: 100px !important;
	}
	.title-container > div > h1 {
		font-size: 30px;
	}
}

.service-page-content {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 200px;
	display: flex;
}

.service-page-content > .line-decorator {
	flex: 1;
	height: 2em;
	border-bottom: 3px #1a2b6d solid;
	margin-right: 2em;
}

.service-page-content > .content {
	flex: 5;
}

.service-page-content > .content > * {
	margin-top: 1.4em;
	margin-bottom: 1.4em;
}

.service-page-content > .content > *:first-child {
	margin-top: 1em;
}

.service-page-content > .content > *:last-child {
	margin-bottom: 1em;
}

.service-page-content > .content .backlink {
	text-align: center;
}

.service-page-content > .content .backlink > a {
	font-size: 20px;
}

@media (max-width: 600px) {
	.service-page-content {
		padding-left: 15%;
		padding-right: 15%;
	}
	.service-page-content > .line-decorator {
		display: none;
	}
	.service-page-content > .content .backlink a {
		font-size: 18px;
	}
}
@media (max-width: 500px) {
	.service-page-content {
		padding-left: 10%;
		padding-right: 10%;
	}
	.service-page-content > .content > * {
		line-height: 1.5em;
	}
}
