.page-intro > div:first-child {
	width: 30%;
	min-width: 600px;
}

@media (max-width: 1000px) {
	.page-intro > div:first-child {
		min-width: 500px;
	}
}

@media (max-width: 600px) {
	.page-intro > div:first-child {
		min-width: 350px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

@media (max-width: 400px) {
	.page-intro > div:first-child {
		line-height: 1.3em;
		min-width: initial;
		width: 95%;
	}
}
