.social ul {
	margin-bottom: 0;
}

.social a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.2em;
}

.social a:hover img {
	transform: rotate(360deg);
	transition: transform 1s;
	transition-delay: 300ms;
}
